<h1>舟山河路況</h1>

<% @statuses.reverse.each do |status| %>

<div>
  <%= image_tag status.picture.url %>
</div>

<div>
  <% if status.river? %>
    <strong>現在是舟山河</strong>
  <% else %>
    <strong>現在是舟山路</strong>
  <% end %>
  <%= status.updated_at %>
</div>

<hr>

<% end %>
